	PRODUCT_NAME = 	GenericUSBMidi;
	WRAPPER_EXTENSION = bundle;
	INSTALL_PATH = "$(HOME)/Library/Bundles"
	INFOPLIST_FILE = GenericUSBMidi/GenericUSBMidi-Info.plist
	GCC_PRECOMPILE_PREFIX_HEADER = YES;
	GCC_PREFIX_HEADER = GenericUSBMidi/GenericUSBMidi-Prefix.pch;
	GCC_ENABLE_CPP_EXCEPTIONS = YES;
	GCC_ENABLE_CPP_RTTI = YES;
	GCC_SYMBOLS_PRIVATE_EXTERN = YES;
